{% extends "base.html" %}

{% block content %}
    <div class="container mt-3 fs-5">
        <p>я не придумала загадочного текста для секретной страницы, поэтому просто вставлю рецепт блинчиков: Продукты
            Молоко - 0,5 л
            Яйца - 3 шт.
            Масло растительное - 1 ст. ложка (+для смазывания сковороды)
            Мука - 250 г (чуть больше 1,5 стакана ёмкостью 250 мл)
            Сахар - 1 ст. ложка
            Соль - 1 щепотка
            Масло сливочное - 1 ст. ложка
         </p>
    </div>
{% endblock content %}