
body {
    background-color: #c9e7c2; /*  цвет фона */
  }

  header {
    background-color: #ffffff; /*  цвет для шапки */
  }
  
  .navbar-brand {
    color: #000000; /*  цвет текста для логотипа */
  }
  
  .nav-link {
    color: #000000; /*  цвет текста для ссылок в навигации */
  }
  
  .alert-success {
    background-color: #27ae60; /*  цвет для успешных сообщений */
    color: #000000; /*цвет текста в успешных сообщениях */
  }
  
  .alert-danger {
    background-color: #c0392b; /* красный цвет для сообщений об ошибках */
    color: #000000; /* белый цвет текста в сообщениях об ошибках */
  }
  